    <div class="page-container advanced">
        <!-- <img src="assets/img/candlechart.png" style="width: 787px;
        height: 393px;"> -->
        <div class="chart">
            <div class="row">
                <div class="col-md-12 no-padding" style="padding: 0;"> 
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                        <div id="tradingview_35f2bc" style="height: 60vh  !important;"></div>
                    </div> 
                    <!-- TradingView Widget END -->
                 </div>
            </div>
        </div> 
    </div>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script type="text/javascript">
        function loadChart(){
          alert('yes')
          new TradingView.widget({
              "autosize": true,
              "symbol": "Binance:TRXBTC",
              "interval": "D",
              "timezone": "Etc/UTC",
              "theme": "Dark",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_top_toolbar": true,
              "save_image": false,
              "hideideas": true,
              "container_id": "tradingview_35f2bc"
          });
        }
      </script>-->
    