.navbar {
    height: 2.6em;
    padding: 0;
    background-color: #262D33;
}
li.nav-item.dropdown:hover {
    background: #000;
}
li.menuChange li.nav-item:hover {
    background: #000;
}   
.brandColor {
    color: #DFAD1E;
}
.nav-item a:hover {
    color: #DFAD1E;
}
li.menuChange .colorGray {
    font-size: 12px;
}
.nav-item a {
    font-size: 14px;
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    padding:0;
    margin-right: 1rem;
    font-size: 0.25rem;
    line-height: 0;
    white-space: nowrap;
}
img.logo {
    height: 30px;
}
li.classDropdown {
    padding-right: 3em;
}
.dropdown-menu.show {
    margin-top: 2px;
    left: -27em;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-tabs {
    border-bottom: none;
}
.dropdown-menu.show li:first-child .nav-link {
    margin: 0;
}
.dropdown-menu.show .nav-item {
    margin: 0;
}
.dropdown-menu.show .nav-link {
    margin: 0  5px;
}
table {
    display:block;
    height : 246px;
    overflow-y : scroll;
}
table::-webkit-scrollbar {
    width: 0.3em;
}
table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 0.9em;
    line-height: 1.5;
    border-radius: .3rem;
}
div#custom-search-input .input-group {
    width: 48%;
}
.card-body {
    padding: 0;
    color:#fff;
    background: #1B2226;
}
.card-header {
    padding: 0;
    background: #1B2226;
}
table.table {
    color: #fff;
}
.nav-tabs .nav-link.active {
    color: #ffc20c;
    background-color: #262d33;
    border: none;
}
.card {
    border: none;
}
.dropdown-menu.show li.nav-item {
    font-size: 13px;
}
.dropdown-menu option,.dropdown-menu select {
    color: #fff;
}
.dropdown-menu.show {
    padding: 5px 0 0 0;
    border-radius: 0;
    border: 5px solid #000;
    background: #1B2226;
    width: 530px;
    height: 350px;
}
li.nav-item {
    margin-top: 10px;
}
.navbar-toggler-icon {
    background-image: url(../../assets/img/menu.svg);
    background-color: #fff;
    background-size: 50%;
    width: 2em;
    height: 2em;
    border-radius: 2px;
}
.navbar-nav {
    margin-bottom: 10px;
}
.colorGreen {
    color:#70a800;
}
.colorPink {
    color:#EA0070;
}
.date li {
    color: #fff;
    list-style-type: none;
}
.table-hover tbody tr:hover {
    color: #fff;
    background-color: #000;
}
.table td{
    padding: 6px 14px;
    border-top: none;
}
li.decimalDrop {
    margin-left: 18px;
    color: #adb5bd;
    font-size: 12px;
    margin-top: 5px;
}
.menuChange {
    font-size: 12px;
    padding-top: 12px;
    float: left;
    color: #fff;
    list-style-type: none;
}
.menuChange {
    margin: 0 28px;
    font-size: 13px;
}
table.table th {
    border: 1px solid #000;
    padding: 4px 24px;
    color: #999999;
    /* border: none; */
    font-size: 13px;
}
table.table td{
    font-size: 12px;
}
.timeDate{
    padding-top: 20px !important;
    font-size: 14px !important;
}
.nav-link select {
    margin: 0 4px;
    border: 1px solid #3a3939;
    background: #000;
}
/*Search*/
input.searchBox {
    background: #323C45;
}
.searchContainer {
    margin: 4px 0 6px 0;
    height: 26px;
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    /* border: 1px solid #ccc; */
    border-radius: 1px;
    overflow: hidden;
  }
  i.fa.fa-search {
    font-size: 15px;
    background: #323C45;
    color: #CACBCC;
    padding: 5px 6px 1px 4px;
    font-weight: unset;
}
  .searchBox {
    border: 0;
    padding:  0;
    flex: 1;
  }
  
/*Search*/