<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href=""><img class="logo" src="assets/img/logo.png" alt=""></a>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarToggler">
            <ul class="date">
                <li class="timeDate">{{ myDate | date:'mediumDate' }} {{ time | date: 'hh:mm:ss a' }}</li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="menuChange lastPrice">  
                    <div class="colorGray ">Last Price</div>
                    <span class="colorPink fontBold">9,227.47 </span><span class=" fontBold">$9,227.47</span>
                </li>
                <li class="menuChange">  
                     <div class="colorGray"> 24h Change</div>
                    <span class="colorGreen fontBold">73.60  +1.92%</span>
                </li>
                <li class="menuChange">   
                    <div class="colorGray"> 24h High</div>
                    <span class=" fontBold"> 9,405.00</span>
                </li>
                <li class="menuChange">  
                      <div class="colorGray"> 24h Low</div>
                      <span class=" fontBold">8,913.00</span>
                </li>
                <li class="menuChange">  
                     <div class="colorGray">  24h Volume</div>
                     <span class=" fontBold">475,857,570.78 USDT</span>
                </li>
           
                <li class="nav-item dropdown">
                        <form>
                            <a class="nav-link dropdown-toggle brandColor" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              ONT/PAX
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <div class="container">
                                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab"><i class="fa fa-star-o" aria-hidden="true"></i>Favorites</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">M</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">BNB</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab-d" href="#pane-D" class="nav-link" data-toggle="tab" role="tab">BTC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab-e" href="#pane-E" class="nav-link" data-toggle="tab" role="tab">ALTS 
                                                <select>
                                                    <option value="all">All</option>
                                                    <option value="eth">ETH</option>
                                                    <option value="trx">TRX</option>
                                                    <option value="xrp">XRP</option>
                                                  </select>
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab-f" href="#pane-F" class="nav-link" data-toggle="tab" role="tab">USD
                                                    <select>
                                                        <option value="allcoins">All</option>
                                                        <option value="usdt">USDT</option>
                                                        <option value="pax">PAX</option>
                                                        <option value="tusd">TUSD</option>
                                                        <option value="usdc">USDC</option>
                                                        <option value="busd">BUSD</option>
                                                        <option value="ngn">NGN</option>
                                                        <option value="usds">USDS</option>
                                                    </select>
                                            </a>
                                        </li>
                                    </ul>
                                    
            
                                    <div id="content" class="tab-content" role="tablist">
                                        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                                            <div class="card-header" role="tab" id="heading-A">
                                                <div class="searchContainer">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                  </div>
                                            </div>
                                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                                <div class="card-body">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Pair</th>
                                                                <th>Last Price</th>
                                                                <th>24h Change</th>
                                                                <th>24h Volume</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="brandColor"><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="colorGreen">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="colorPink">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                               
                                                            </tr>
                                                            <tr>
                                                                <td class="brandColor"><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="brandColor">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td class="brandColor"><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td>1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                               
                                                            </tr>
                                                            <tr>
                                                                <td class="brandColor"><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="colorPink">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                               
                                                            </tr>
                                                            <tr>
                                                                <td class="brandColor"><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="colorGreen">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                            </tr>
                                                            <tr>
                                                                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td class="colorPink">1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td>1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                               
                                                            </tr>
                                                            <tr>
                                                                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                                                                <td>Filled</td>
                                                                <td>1,24566,445</td>
                                                                <td class="text-right">0.1234</td>
                                                                <td class="text-right">20-5-18 10:12Am</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                            <div class="card-header" role="tab" id="heading-B">
                                                <div class="searchContainer">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                  </div>
                                            </div>
                                            <div id="collapse-B" class="collapse show" role="tabpanel" aria-labelledby="heading-B">
                                                <div class="card-body">
                                                        <table class="table" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Project Name</th>
                                                                        <th>Employer</th>
                                                                        <th>Awards</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a href="#">Work 1</a></td>
                                                                        <td>Doe</td>
                                                                        <td>john@example.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Work 2</a></td>
                                                                        <td>Moe</td>
                                                                        <td>mary@example.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Work 3</a></td>
                                                                        <td>Dooley</td>
                                                                        <td>july@example.com</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                            <div class="card-header" role="tab" id="heading-C">
                                                <div class="searchContainer">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                    <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                  </div>
                                            </div>
                                            <div id="collapse-C" class="collapse show" role="tabpanel" aria-labelledby="heading-C">
                                                <div class="card-body">
                                                        <table class="table" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Project Name</th>
                                                                        <th>Employer</th>
                                                                        <th>Awards</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a href="#">Work 1</a></td>
                                                                        <td>Doe</td>
                                                                        <td>john@example.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Work 2</a></td>
                                                                        <td>Moe</td>
                                                                        <td>mary@example.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><a href="#">Work 3</a></td>
                                                                        <td>Dooley</td>
                                                                        <td>july@example.com</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                                <div class="card-header" role="tab" id="heading-C">
                                                    <div class="searchContainer">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                        <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                      </div>
                                                </div>
                                                <div id="collapse-D" class="collapse show" role="tabpanel" aria-labelledby="heading-C">
                                                    <div class="card-body">
                                                            <table class="table" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Project Name</th>
                                                                            <th>Employer</th>
                                                                            <th>Awards</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a href="#">Work 1</a></td>
                                                                            <td>Doe</td>
                                                                            <td>john@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 2</a></td>
                                                                            <td>Moe</td>
                                                                            <td>mary@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 3</a></td>
                                                                            <td>Dooley</td>
                                                                            <td>july@example.com</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                    </div>
                                                </div>
                                        </div>
                                        <div id="pane-E" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                                <div class="card-header" role="tab" id="heading-C">
                                                    <div class="searchContainer">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                        <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                      </div>
                                                </div>
                                                <div id="collapse-E" class="collapse show" role="tabpanel" aria-labelledby="heading-C">
                                                    <div class="card-body">
                                                            <table class="table" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Project Name</th>
                                                                            <th>Employer</th>
                                                                            <th>Awards</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a href="#">Work 1</a></td>
                                                                            <td>Doe</td>
                                                                            <td>john@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 2</a></td>
                                                                            <td>Moe</td>
                                                                            <td>mary@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 3</a></td>
                                                                            <td>Dooley</td>
                                                                            <td>july@example.com</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                    </div>
                                                </div>
                                        </div>
                                        <div id="pane-F" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                                <div class="card-header" role="tab" id="heading-C">
                                                    <div class="searchContainer">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                        <input class="searchBox" type="search" name="search" placeholder="Search...">
                                                      </div>
                                                </div>
                                                <div id="collapse-F" class="collapse show" role="tabpanel" aria-labelledby="heading-C">
                                                    <div class="card-body">
                                                            <table class="table" cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Project Name</th>
                                                                            <th>Employer</th>
                                                                            <th>Awards</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><a href="#">Work 1</a></td>
                                                                            <td>Doe</td>
                                                                            <td>john@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 2</a></td>
                                                                            <td>Moe</td>
                                                                            <td>mary@example.com</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><a href="#">Work 3</a></td>
                                                                            <td>Dooley</td>
                                                                            <td>july@example.com</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Register</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">English</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
