.row {
    margin-left: 0;
    margin-right: 0;
}
.langDropdown select {
    outline: none;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 9px;
}
.copyright{
    font-size: 13px;;
color: #ccc;
border-top: 1px solid #212121;
padding: 2em 0 0 0;
margin: 2em 0 0 0;
width: 95%;
}
.langDropdown option {
    outline: none;
}
.langDropdown {
    display: inline-block;
    margin: 1.5em 0 0 0;
}
ul.community li {
    padding: 14px;
    float: left;
    list-style-type: none;
}
ul.community li a {
    font-size: 20px;
    color: rgb(186, 187, 187);
}
.footer li {
    list-style-type: none;
}
ul.service,.learn,.support,ul.products,.aboutUs {
    font-size: 14px;
    padding-left: 0px;
    line-height: 28px;
}
.community {
    padding-left: 0px;
}
.footer {
    padding: 4em   0 0 0;
    background: #000;
}
.footer h5{
    color: #fff;
}
.footer li {
    color: rgb(132, 142, 156);
}
.footer li:hover {
    cursor: pointer;
    color:#fff;
}