<div class="price">
    <div class="row">
        <div class="col-md-6">
                <div class="center-widget">
                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="limit-tab" data-toggle="tab" href="#limit" role="tab" aria-controls="limit" aria-selected="true"><img src="assets/img/tab1.svg"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="market-tab" data-toggle="tab" href="#market" role="tab" aria-controls="market" aria-selected="false"><img src="assets/img/tab2.svg"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="stop-limit-tab" data-toggle="tab" href="#stop-limit" role="tab" aria-controls="stop-limit" aria-selected="false"><img src="assets/img/tab3.svg"></a>
                            </li>
                            <li class="decimalDrop">
                              groups<select class="decimal">
                                <option> 3 decimals</option>
                                <option> 4 decimals</option>
                                <option> 5 decimals</option>
                                <option> 6 decimals</option>
                              </select>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="limit" role="tabpanel" aria-labelledby="limit-tab">
                                <div class="row">
                                  <table class="tablePriceList">
                                    <thead>
                                      <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                        <th>Price(BTC)</th>
                                        <th>Amount(ETH)</th>
                                        <th style="padding-left: 13px;">Total(BTC)</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                        <td  class="colorPink">0.0022345</td>
                                        <td class="text-right"><span  placement="right" tooltip="<strong>Bold text</strong><br>viveka">0.05</span></td>
                                        <td class="graytext fontBold text-right">11.51.24</td>
                                      </tr>
                                      <tr tooltip="Tooltip text" placement="right">
                                        <td class="colorGreen">0.0022345</td>
                                        <td class="text-right">0.05</td>
                                        <td class="graytext fontBold text-right">11.51.24</td>
                                      </tr>
                                      <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                        <td class="colorGreen" title="tooltip">0.0022345</td>
                                        <td class="text-right">0.05</td>
                                        <td class="graytext fontBold text-right">11.51.24</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>
                                  <div class="moreSection">
                                    <p class="bigFont">0.0008978</p>
                                     <a href="#">more<span class="space"></span><i class="fa fa-signal" aria-hidden="true"></i></a>
                                  </div>
                                  <div>
                                    <table class="tablePriceList">
                                        <tbody>
                                            <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                              <td tooltip="Tooltip text" placement="top" class="colorPink">0.0022345</td>
                                            
                                              <td class="text-right">0.05</td>
                                              <td class="graytext fontBold text-right">11.51.24</td>
                                            </tr>
                                            <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                              <td class="colorGreen">0.0022345</td>
                                              <td class="text-right">0.05</td>
                                              <td class="graytext fontBold text-right">11.51.24</td>
                                            </tr>
                                            <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                              <td class="colorGreen" title="tooltip">0.0022345</td>
                                              <td class="text-right">0.05</td>
                                              <td class="graytext fontBold text-right">11.51.24</td>
                                            </tr>
                                            <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                                <td class="colorGreen" title="tooltip">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              
                                          
                                          </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="market" role="tabpanel" aria-labelledby="market-tab">
                                <div class="row">
                                    <table class="tablePriceList">
                                      <thead>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <th>Price(BTC)</th>
                                          <th>Amount(ETH)</th>
                                          <th>Total(BTC)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td tooltip="Tooltip text" placement="top" class="colorPink">0.0022345</td>
                                         
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td class="colorGreen">0.0022345</td>
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td class="colorGreen" title="tooltip">0.0022345</td>
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    <div class="moreSection">
                                      <p class="bigFont">0.0008978</p>
                                       <a href="#">more<i class="fa fa-signal" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                      <table class="tablePriceList">
                                          <tbody>
                                              <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                                <td tooltip="Tooltip text" placement="top" class="colorPink">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                                <td class="colorGreen">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                                <td class="colorGreen" title="tooltip">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr pTooltip="{{getToolTipValue()}}"
                                              tooltipPosition="right" class="btn-users">
                                                  <td class="colorGreen" title="tooltip">0.0022345</td>
                                                  <td class="text-right">0.05</td>
                                                  <td class="graytext fontBold text-right">11.51.24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                      </div>
                                  </div>
                            </div>
                            <div class="tab-pane fade" id="stop-limit" role="tabpanel" aria-labelledby="stop-limit-tab">
                                <div class="row">
                                    <table class="tablePriceList">
                                      <thead>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <th>Price(BTC)</th>
                                          <th>Amount(ETH)</th>
                                          <th>Total(BTC)</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td tooltip="Tooltip text" placement="top" class="colorPink">0.0022345</td>
                                         
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td class="colorGreen">0.0022345</td>
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                        <tr pTooltip="{{getToolTipValue()}}"
                                        tooltipPosition="right" class="btn-users">
                                          <td class="colorGreen" title="tooltip">0.0022345</td>
                                          <td class="text-right">0.05</td>
                                          <td class="graytext fontBold text-right">11.51.24</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    <div class="moreSection">
                                      <p class="bigFont">0.0008978</p>
                                       <a href="#">more<i class="fa fa-signal" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                      <table class="tablePriceList">
                                          <tbody>
                                              <tr>
                                                <td tooltip="Tooltip text" placement="right" class="colorPink">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr>
                                                <td class="colorGreen">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr>
                                                <td class="colorGreen" title="tooltip">0.0022345</td>
                                                <td class="text-right">0.05</td>
                                                <td class="graytext fontBold text-right">11.51.24</td>
                                              </tr>
                                              <tr>
                                                  <td class="colorGreen" title="tooltip">0.0022345</td>
                                                  <td class="text-right">0.05</td>
                                                  <td class="graytext fontBold text-right">11.51.24</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-md-6">
            <div class="priceList">
                <table class="tablePriceList">
                    <tbody>
                      <tr>
                        <td class="colorPink">0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext fontBold">11.51.24</td>
                      </tr>
                      <tr>
                        <td class="colorGreen">0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext fontBold">11.51.24</td>
                      </tr>
                      <tr>
                        <td class="colorGreen">0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext fontBold">11.51.24</td>
                      </tr>
                      <tr>
                        <td >0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext fontBold">11.51.24</td>
                      </tr>
                      <tr>
                        <td class="colorPink">0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td class="colorPink">0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                        
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>

                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext" >11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>

                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext"> 11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td class="colorGray">0.05</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td>1.24</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                      <tr>
                        <td>0.0022345</td>
                        <td>1.34</td>
                        <td class="graytext">11.51.24</td>
                      </tr>
                    </tbody>
                  </table> 
            </div>
        </div>
    </div>
</div>
