.center-widget .nav-tabs {
    background-color: #131724;
    border-color: #2f333f;
}

thead th {
    font-weight: 100;
    color: #999999;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.center-widget .nav-tabs .nav-item.show .nav-link, .advanced .center-widget .nav-tabs .nav-link.active, .advanced .center-widget .nav-tabs .nav-item:hover, .advanced .center-widget .nav-tabs .nav-item:focus, .advanced .center-widget .nav-tabs .nav-item:active {
    border-top: 0;
    border-radius: 0;
    background-color: #242938;
    color: #45b64b;
}
 .center-widget .nav-tabs .nav-link {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #131724;
    border-radius: 0;
    padding: 10px 15px;
    font-weight: 600;
}
.center-widget .nav-tabs .nav-item.show .nav-link, .center-widget .nav-tabs .nav-link.active, .center-widget .nav-tabs .nav-item:hover, .center-widget .nav-tabs .nav-item:focus, .center-widget .nav-tabs .nav-item:active {
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
 .center-widget .nav-link:last-child {
    border-right: 0;
}
.center-widget .nav-link:first-child {
    border-left: 0;
} 
.center-widget .nav-tabs .nav-link {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    padding: 10px 15px;
    font-weight: 600;
}
table.tablePriceList {
    font-size: 12px;
    margin: 0;
    width: 100%;
}
.moreSection a { color: #fff; font-size: 11px;}
.moreSection a:hover { color: #ffc20c !important;}
a#limit-tab { padding: 5px;}
body::-webkit-scrollbar {    width: 0.4em;}
body::-webkit-scrollbar-track {    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.graytext {    color:    #999999;    } 
span.space {   padding: 6px;    }
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
div::-webkit-scrollbar {
    width: 0.3em;
}
i.fa.fa-signal {
    font-size: 17px;
    color:#70a800;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.center-widget {
    border: 5px solid #000;
}
.priceList {
    background: #131724;
    height: 46.8vh;
    color: #fff;
    border: 5px solid #000;
    overflow-y: scroll;
    border-left: none;
}
.tablePriceList td {
    padding:  4px 21px;
}
li.decimalDrop {
    color: #999999;
    font-size: 12px;
    margin-left: 32px;
    margin-top: 5px;
}
select.decimal {
    border: 1px solid #000;
    color: #fff;
    background: #484c58;
    font-size: 12px;
    margin-left: 4px;
}
.center-widget .tab-content {
    background-color: #131724;
    color: #fff;
    height: 40.4vh;
    overflow: auto;
}
a#market-tab {
    border: 1px solid #2f2f2f;
    padding: 6px;
}
a#stop-limit-tab {
    padding: 5px;
}
.center-widget .nav li img {
    width: 25px;
}
/* .ui-tooltip .ui-tooltip-text {
    white-space: pre-line;
    padding: 100px;
  }
  .ui-tooltip {
      width: 100px;
  } */
.col-md-6 {
    padding: 0;
}
.nav-item .active {
    border: 1px solid #ffc107 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.center-widget .nav-tabs {
    background-color: #131724;
    border-color: #2f333f;
}
.center-widget .nav-tabs {
    border-color: rgba(255, 255, 255, 0.1);
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.colorGray {
    font-weight: 700;
    color:#d4d4d4;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
p.bigFont {
    font-size: 17px;
    color: #ea0070;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.moreSection {
    display: inline-block;
    padding: 0.5em 1em;
    width: 100%;
}
p.bigFont {
    display: inline;
}
.moreSection a {
    float: right;
}
