<div class="ordersTable">
    <div class="order-widget">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="open-order-tab" data-toggle="tab" href="#open-order" role="tab" aria-controls="open-order" aria-selected="true">Open Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="order-history-tab" data-toggle="tab" href="#order-history" role="tab" aria-controls="order-history" aria-selected="false">Order History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="trade-history-tab" data-toggle="tab" href="#trade-history" role="tab" aria-controls="trade-history" aria-selected="false">Trade History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="funds-tab" data-toggle="tab" href="#funds" role="tab" aria-controls="funds" aria-selected="false">Funds</a>
            </li>
            <li class="ml-auto checkTable">
                <input type="checkbox" style="margin-right: 10px;">Hide other pairs
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="open-order" role="tabpanel" aria-labelledby="open-order-tab">
                <div class="row">
                    <table class="openOrders">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Pair</th>
                                <th>Type</th>
                                <th>Side</th>
                                <th>Amount</th>
                                <th>Filled (%)</th>
                                <th>Total</th>
                                <th title="Trigger Conditions">Trigger Cond..</th>
                                <th style="width: 14%;">Cancel All
                                    <select>
                                        <option>All</option>
                                        <option>Limit</option>
                                        <option>Stop Limit</option>
                                        <option>Limit Maker</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            
                            
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                
                            </tr>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                                <td>Recived</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="order-history" role="tabpanel" aria-labelledby="order-history-tab">
                <div class="row">
                    <div class="filter">
                        <ul>
                            <li class="btn1">1 day</li>
                            <li class="btn1">1 Week</li>
                            <li class="btn1">1 Month</li>
                            <li class="btn1">3 Months</li>
                            <li>From <p-calendar appendTo="body" [(ngModel)]="dates"></p-calendar></li>
                                    <li><p-calendar appendTo="body" [(ngModel)]="datevalues"></p-calendar></li>
                                    <li class="btn1">Search</li>
                        </ul>
                    </div>
                    <table class="orderHistory">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Pair</th>
                                <th>Type</th>
                                <th>Side</th>
                                <th>Avg</th>
                                <th>Price</th>
                                <th>Filled</th>
                                <th>Amount</th>
                                <th>Total</th>
                                <th>Trigger Conditions</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10-5-18</td>
                                <td>0.0424678</td>
                                <td>Type1</td>
                                <td>Side</td>
                                <td>1234</td>
                                <td>54637</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>3,24566,445</td>
                                <td>Trigger</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>10-5-18</td>
                                <td>0.0424678</td>
                                <td>Type1</td>
                                <td>Side</td>
                                <td>1234</td>
                                <td>54637</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>3,24566,445</td>
                                <td>Trigger</td>
                                <td>Recived</td>
                            </tr>
                            <tr>
                                <td>10-5-18</td>
                                <td>0.0424678</td>
                                <td>Type1</td>
                                <td>Side</td>
                                <td>1234</td>
                                <td>54637</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>3,24566,445</td>
                                <td>Trigger</td>
                                <td>Recived</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="trade-history" role="tabpanel" aria-labelledby="trade-history-tab">
                <div class="row">
                        <div class="filter">
                                <ul>
                                    <li class="btn1">1 day</li>
                                    <li class="btn1">1 Week</li>
                                    <li class="btn1">1 Month</li>
                                    <li class="btn1">3 Months</li>
                                    <li>From <p-calendar appendTo="body" [(ngModel)]="value"></p-calendar></li>
                                    <li><p-calendar appendTo="body" [(ngModel)]="datevalue"></p-calendar></li>
                                    <li class="btn1">Search</li>
                                </ul>
                            </div>
                    <table class="tradeHistory">
                            <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Pair</th>
                                        <th>Type</th>
                                        <th>Side</th>
                                        <th>Avg</th>
                                        <th>Price</th>
                                        <th>Filled</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                        <th>Trigger Conditions</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10-5-18</td>
                                        <td>0.0424678</td>
                                        <td>Type1</td>
                                        <td>Side</td>
                                        <td>1234</td>
                                        <td>54637</td>
                                        <td>Filled</td>
                                        <td>1,24566,445</td>
                                        <td>3,24566,445</td>
                                        <td>Trigger</td>
                                        <td>Recived</td>
                                    </tr>
                                    <tr>
                                        <td>10-5-18</td>
                                        <td>0.0424678</td>
                                        <td>Type1</td>
                                        <td>Side</td>
                                        <td>1234</td>
                                        <td>54637</td>
                                        <td>Filled</td>
                                        <td>1,24566,445</td>
                                        <td>3,24566,445</td>
                                        <td>Trigger</td>
                                        <td>Recived</td>
                                    </tr>
                                    <tr>
                                        <td>10-5-18</td>
                                        <td>0.0424678</td>
                                        <td>Type1</td>
                                        <td>Side</td>
                                        <td>1234</td>
                                        <td>54637</td>
                                        <td>Filled</td>
                                        <td>1,24566,445</td>
                                        <td>3,24566,445</td>
                                        <td>Trigger</td>
                                        <td>Recived</td>
                                    </tr>
                                </tbody>
                           
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="funds" role="tabpanel" aria-labelledby="funds-tab">
                <div class="row">
                    <table class="funds">
                        <thead>
                            <tr>
                                <th>Coin</th>
                                <th>Total Balance</th>
                                <th>Available Balance</th>
                                <th>In Order</th>
                                <th>BTC Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0.0424678</td>
                                <td>Filled</td>
                                <td>1,24566,445</td>
                                <td>0.1234</td>
                                <td>20-5-18 </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
