table.openOrders th {
    padding-left: 8px;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 100;
    color: #dcdcdc;
    background: #20262B;
}
.ordersTable {
    border: 5px solid #000;
}
.ui-datepicker {
    width: auto;
    padding: .2em;
    position: absolute;
    background-color: red !important;
}

.ordersTable tbody {
    color: #999999;
    background: #262D33;
}
.funds tbody{
    background: #31383e;
    color: #999999;
}
.ordersTable option {
    width:50%;
}
.ordersTable select {
    float: right;
    width: 20%;
    cursor: pointer;
    color: rgb(212, 212, 212);
    background: rgb(47, 56, 63);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.ordersTable td {
    line-height: 25px;
    padding-left: 9px;
    font-size: 12px;
}
.order-widget {
    height: 12.62em;
    overflow-x: auto;
    background: black;
    overflow-x: auto;
    background: black;
}
table.openOrders {
    margin-top: -1px;
    width: 100%;
}
.nav-tabs .nav-item {
    margin: 0 4px;
    margin-bottom: 0;
}
li.ml-auto.checkTable {
    font-size: 14px;
    color: #d4d4d4;
    margin-top: 3px;
}
.order-widget .nav-item a {
    color: #d4d4d4;
    font-size: 13px;
    border: 1px solid #000;
    border-radius: 0;
}
.order-widget .nav-item.active a {
    color:#fff !important;
}
ul#myTab {
    background: rgb(38, 45, 51);
    padding: 4px;
}
.nav-tabs .nav-link.active {
    color: #ffc20c !important;
    background-color: #2b2b2d;
    border-color: #ffc20c !important;
    border-radius: 0;
}
.order-widget  .nav-link {
    display: block;
    padding: 3px;
}
.nav-tabs .nav-link:hover {
    color: #fff;
    border-color: #ffc20c;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
table.orderHistory {
    width: 100%;
}
table.orderHistory th {
    padding-left: 8px;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 100;
    color: #dcdcdc;
    background: #20262B;
}

table.funds {
    margin-top: -1px;
    width: 100%;
}
table.funds th {
    padding-left: 8px;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 100;
    color: #dcdcdc;
    background: #20262B;
}
table.tradeHistory {
    width: 100%;
}
table.tradeHistory th {
    padding-left: 8px;
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 100;
    color: #dcdcdc;
    background: #20262B;
}
.filter li {
    color: #d4d4d4;
    margin: 4px 10px;
    font-size: 12px;
    list-style-type: none;
    float: left;
}
.filter ul {
    padding: 0;
}
.filter {
    margin-top: -1px;
    background: #2F383F;
    width: 100%;
    border: 1px solid #000;
}
li.btn1 {
    border: 1px solid #000;
    margin-top: 6px !important;
    Color: #d4d4d4;
    padding: 0 10px;
}

input[type="date"] {
    box-shadow: none;
    color: #d4d4d4d4;
    border: 1px solid #484848;
    background: transparent;
}

