<app-head></app-head>
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-sm-5  text-center">
                    <h1>Login</h1>
                    <p>Please check that you are visiting https://www.exchange.com</p>
                    <div class="web">
                        <i class="fa fa-lock" aria-hidden="true"></i>  <span class="greenText">https://</span>www.exchange.com
                    </div>
                    <div class="info-form">
                        <form>
                            <div class="form-group input-group">
                                <span class="has-float-label">
                                <input type="email" class="form-control required" id="email" placeholder="Email" name="email" >
                                <label for="email">Email</label>
                                </span>
                            </div>
                             <div class="form-group input-group">
                                    <span class="has-float-label">
                                        <i class="fa fa-eye" id="showEye" (click)="showpass()" aria-hidden="true"></i> 
                                        <!-- <i class="fa fa-eye-slash" id="hideEye" (click)="hidePass(this)" aria-hidden="true"></i>  -->
                                        <input type="password" class="form-control required" class="password" id="password" placeholder="password" name="password">
                                        <label for="newpsw">Password</label>
                                    </span>
                            </div> 
                            <!-- <mat-form-field>
                                <input id="mysecretpassword" type="password" placeholder="Password" matInput showHideInput>
                                <i matSuffix
                                  class="material-icons"
                                  showHideTrigger="mysecretpassword"
                                  [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
                                ></i>
                              </mat-form-field> -->
                            <div>
                            <button id="login_input_login" class="bnc-btn bnc-btn-padding-lg bnc-btn-primary bnc-btn-block"><span class="bnc-btn-text">Log In</span></button>
                                <!-- <div style = "height:15px;"></div> -->
                            </div>
                            
                            <div class="footer">
                                <div style="line-height: 50px;margin-top: 12px;">
                                <a href="#">Forgot your password?</a>
                                <a href="#"><span class="notonExchange">Not on Exchange yet?</span>Register</a>
                            </div>
                        </div>
                    
                          </form>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
