#cover{
    padding: 4em;
}
span.notonExchange {
    color: #000;
    margin: 0 6px 0 49px;
}
i.fa.fa-lock ,.greenText{
    color: #00c087;
}
.greenText{
    padding-left: 10px;
}
.info-form {
    margin: 1em 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 20px;
    background: rgb(255, 255, 255);
    padding: 2em;
}
.web {
    border-radius: 29px;
    width: 79%;
    padding: 10px;
    border: 1px solid #F7F7F7;
    margin: 1em auto;
}
.bnc-btn.bnc-btn-block {
    width: 100%;
}
.bnc-btn.bnc-btn-padding-lg {
    padding: 0 20px;
    font-size: 14px;
    height: 40px;
}
span.notonExchnage {
    margin-right: 4px;
    color: #000;
    text-decoration: wavy;
}
.info-form .footer {
    font-size: 14px;
}
/* .info-form .footer a {
    display: inline-block; 
     padding: 1em 11px!important; 
} */
.bnc-btn.bnc-btn-primary {
    color: #212833;
    background: -webkit-gradient(linear,left top,right top,from(#f0b90b),to(#fbda3c));
    background: -webkit-linear-gradient(left,#f0b90b,#fbda3c);
    background: -moz-linear-gradient(left,#f0b90b 0,#fbda3c 100%);
    background: -o-linear-gradient(left,#f0b90b 0,#fbda3c 100%);
    background: linear-gradient(90deg,#f0b90b,#fbda3c);
    border: 0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(240,185,10,.3);
    -moz-box-shadow: 0 10px 20px 0 rgba(240,185,10,.3);
    box-shadow: 0 10px 20px 0 rgba(240,185,10,.3);
}
.form-group.input-group {
    padding: 0 0 1em 0em;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 1em;
    opacity: .5;
    top: auto;
    outline: #212833;
}
input:focus{
    background:transparant;
    outline-style:none;
    outline: none;
box-shadow:none;
    border: 1px solid #DFAD1E !important;
    }
.bnc-btn.active, .bnc-btn:active, .bnc-btn:hover {
    opacity: .6;
}
.input-group .has-float-label .form-control {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}
label {
    font-size:10px;
  }
.bnc-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    font-size: 14px;
}
.col-sm-5 {
    max-width: 45%;
    flex: 0 0 45%;
}
/* -- Password -- */
i.fa.fa-eye,i.fa.fa-eye-slash {
    right: 0;
    position: absolute;
}
 i.fa.fa-eye-slash {
     display:none;
    right:20px;
} 
input#passwordShow {
    display: none;
}
/* -- Password -- */