.colorGray {
    color:#d4d4d4;
}
.colorGreen {
    color: #70a800;
}
.fontBold {
    font-weight: 400;
}
.colorPink {
    color: #EA0070;
}
.ui-inputtext {
    margin: 0;
    outline: medium none;
    padding: .1em;
    font-weight: normal;
}
a {
    color: #ffc20c;
}
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c7-1.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted {
    color: #b5b5b5;
    background: #2f383f;
    margin: 0;
    outline: medium none;
    border: 1px solid #565656;
    cursor: pointer;
}
.ui-inputtext {
    cursor: pointer;
    color: #b5b5b5;
    background: #2f383f;
    margin: 0;
    outline: medium none;
    border: 1px solid #565656;
    padding: .25em;
    font-weight: normal;
}
.ui-tooltip .ui-tooltip-text {
    /* background: red !important; */
    color: #fff;
    border-radius: 8px !important;
    padding: 10px !important;
    font-size: 12px;
}
.ui-tooltip {
   
    border-radius: 10px !important;
    width: 200px;
}
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c7-0.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted ,
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c7-2.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted,
.ng-trigger.ng-trigger-overlayAnimation.ng-tns-c7-3.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-shadow.ng-star-inserted
{
    background: #262d33;
    color: #ccc;
    cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
div::-webkit-scrollbar {
    width: 0.3em;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
table::-webkit-scrollbar {
    width: 0.3em;
}
table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}