<app-header></app-header>
<div class="row">
    <div class="col-md-7" style="padding-left: 0;padding-right:0">
        <app-chart></app-chart>
        <app-orders></app-orders>
    </div>
    <div class="col-md-5" style="padding-left: 0;padding-right: 0;">
            <app-price></app-price>
            <app-margin-exchange></app-margin-exchange>
    </div>
</div>
