<div [ngClass]="(moveTab=='true')?'exchange':'exchangeMove'">
    <div class="exchangeHeader">
        <span style="width: 50%;display: inline-block;">Exchange</span>
        <span class="float-right">Trading Rules</span>
    </div>
        <div class="exchange-widget">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="limitExchange-tab" data-toggle="tab" href="#limitExchange" role="tab" aria-controls="limitExchange" aria-selected="true" (click)="onLimit()">Limit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="marketExchange-tab" data-toggle="tab" href="#marketExchange" role="tab" aria-controls="marketExchange" aria-selected="false" (click)="onMarket()">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="stop-limitExchange-tab" data-toggle="tab" href="#stop-limitExchange" role="tab" aria-controls="stop-limitExchange" aria-selected="false" (click)="onStopLimit()">Stop Limit</a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="limitExchange" role="tabpanel" aria-labelledby="limitExchange-tab">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="buyOrder border-right">
                                <h6 class="title">Buy BTC<span class="pull-right">USDT</span></h6>
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input type="number" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control" id="" placeholder="TRX">
                                </div>
                                <div class="form-group percent-btns">
                                    <a href="#">25%</a>
                                    <a href="#">50%</a>
                                    <a href="#">75%</a>
                                    <a href="#">100%</a>
                                </div>
                                <div class="form-group">
                                    <label for="">Total</label>
                                    <input type="text" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="loginRegister">
                                    <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6 sellOrder">
                                    <h6 class="title">Sell TRX<span class="pull-right">BTC: 3.87062</span></h6>
                                    <div class="form-group">
                                        <label for="">Price</label>
                                        <input type="number" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Amount</label>
                                        <input type="text" class="form-control" id="" placeholder="TRX">
                                    </div>
                                    <div class="form-group percent-btns">
                                        <a href="#">25%</a>
                                        <a href="#">50%</a>
                                        <a href="#">75%</a>
                                        <a href="#">100%</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Total</label>
                                        <input type="text" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="loginRegister">
                                        <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                    </div>
                                </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade" id="marketExchange" role="tabpanel" aria-labelledby="marketExchange-tab">
                        <div class="row">
                            <div class="col-md-6">

                            
                            <div class="buyOrder border-right">
                                <h6 class="title">Buy BTC<span class="pull-right">USDT</span></h6>
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <input type="number" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control" id="" placeholder="TRX">
                                </div>
                                <div class="form-group percent-btns">
                                    <a href="#">25%</a>
                                    <a href="#">50%</a>
                                    <a href="#">75%</a>
                                    <a href="#">100%</a>
                                </div>
                                <div class="form-group">
                                    <label for="">Total</label>
                                    <input type="text" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="loginRegister">
                                    <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6 sellOrder">
                                    <h6 class="title">Sell TRX<span class="pull-right">BTC: 3.87062</span></h6>
                                    <div class="form-group">
                                        <label for="">Price</label>
                                        <input type="number" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Amount</label>
                                        <input type="text" class="form-control" id="" placeholder="TRX">
                                    </div>
                                    <div class="form-group percent-btns">
                                        <a href="#">25%</a>
                                        <a href="#">50%</a>
                                        <a href="#">75%</a>
                                        <a href="#">100%</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Total</label>
                                        <input type="text" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="loginRegister">
                                        <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="stop-limitExchange" role="tabpanel" aria-labelledby="stop-limitExchange-tab">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="buyOrder border-right">
                                <h6 class="title">Buy BTC<span class="pull-right">USDT</span></h6>
                                <div class="form-group">
                                    <label for="">Stop</label>
                                    <input type="number" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="form-group">
                                    <label for="">Limit</label>
                                    <input type="number" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="form-group">
                                    <label for="">Amount</label>
                                    <input type="text" class="form-control" id="" placeholder="TRX">
                                </div>
                                <div class="form-group percent-btns">
                                    <a href="#">25%</a>
                                    <a href="#">50%</a>
                                    <a href="#">75%</a>
                                    <a href="#">100%</a>
                                </div>
                                <div class="form-group">
                                    <label for="">Total</label>
                                    <input type="text" class="form-control" id="" placeholder="BTC">
                                </div>
                                <div class="loginRegister">
                                    <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6 sellOrder">
                                    <h6 class="title">Sell TRX<span class="pull-right">BTC: 3.87062</span></h6>
                                    <div class="form-group">
                                        <label for="">Stop</label>
                                        <input type="number" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Limit</label>
                                        <input type="number" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Amount</label>
                                        <input type="text" class="form-control" id="" placeholder="TRX">
                                    </div>
                                    <div class="form-group percent-btns">
                                        <a href="#">25%</a>
                                        <a href="#">50%</a>
                                        <a href="#">75%</a>
                                        <a href="#">100%</a>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Total</label>
                                        <input type="text" class="form-control" id="" placeholder="BTC">
                                    </div>
                                    <div class="loginRegister">
                                        <span><a href="">Login</a> or <a href="">Register now</a> to trade</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
</div>