label {
    margin-bottom: 5px;
}
.exchangeHeader {
    font-size: 13px;
    background: #2F383F;
    color: #ccc;
    padding: 5px;
}
.exchange-widget .nav {
    border: 1px solid #000;
    background: rgba(0,0,0,.9);
    background: #262D33;
    border-bottom: none;
}
.exchange-widget div#myTabContent {
    padding-bottom: 2px;
}
 .nav-tabsav-link.active {
    color: #fff !important;
    background-color: #2b2b2d;
    border-color: #ffc20c !important;
    border-radius: 0;
}
input.form-control {
    width: 70% !important;
    display: inline-block !important;
}
h6.title {
    font-size: 0.7em;
    margin-top: 0.5em;
}
.exchange-widget li.nav-item a {
    padding: 3px;
}
.exchange-widget .form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    background: #20262b !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #31383e;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.col-md-6.sellOrder {
    padding: 8px 16px  0px 16px !important;
}
.loginRegister a {
    color: #f5bc00;
}
label {
    width: 30%;
    font-size: 12px;
    display: inline-block;
}
.exchange .col-md-6 {
    padding: 0;
}
.buyOrder {
    margin: 7px 0;
    padding: 2px 19px 4px 17px;
}
.loginRegister {
    PADDING: 6PX;
    border: 1px solid;
    text-align: center;
    font-size: 12px;
    MARGIN: 15PX 6px 4px 5px;
}
div#stop-limitExchange .loginRegister {
    MARGIN: 15PX 6px 2px 5px;
}
input.form-control {
    width: 70%;
    display: inline-block;
}
.form-group {
    margin-bottom: 4px;
}
.buyOrder[_ngcontent-keq-c6] {
    margin: 7px 0;
    padding: 2px 19px 2px 17px;
}
div#limitExchange .form-group,div#marketExchange .form-group {
    margin-bottom: 9px;
}
.exchange {
    display: inline-table;
    width: 100%;
    /* height: 18.2em; */
    border-top: none !IMPORTANT;
    border: 5px solid #000;
    overflow-x: auto;
}
.exchangeMove {
    padding-bottom: 1px !important;
    border: 2px solid #000;
    margin-top: -15px;
    width: 100%;
    right: 0px;
    display: inline-table;
    background: #000 !important;
    position: absolute;
}
.percent-btns a:hover, .advanced .percent-btns a:focus, .advanced .percent-btns a:active {
    border-color: #45b64b;
    color: #FFF;
    text-decoration: none;
}
.advanced .percent-btns a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #FFF;
    font-weight: 600;
}
div#marketExchange {
    /* padding: 0.6px 0 0 0; */
    color: #ccc;
    background: #131724;
}
.exchange-widget {
    background: #131724;
}
div#stop-limitExchange {
    /* padding: 0.6px 0 0 0; */
    color: #ccc;
    background: #131724;
}
div#limitExchange {
    /* padding: 0.6px 0 0 0; */
    color: #ccc;
    background: #262D33;
}
.advanced .percent-btns a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #FFF;
    font-weight: 600;
}
.nav-item .active {
    color: #ffc107 !important;
}
.percent-btns a:hover, .percent-btns a:focus, .percent-btns a:active {
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}
.form-group.percent-btns {
    width: 100%;
    text-align: right;
}
.percent-btns a {
    margin: 0 3px 0 0;
    display: inline-block;
    padding:5px 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 11px;
    color: #d4d4d4;
    font-weight: 600;
}
a#limitExchange-tab,a#marketExchange-tab,a#stop-limitExchange-tab {
    margin: 4px 4px;
    color: #ccc;
    font-size: 13px;
    padding: 3px 10px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 25px;
}
/* .exchange-widget div#myTabContent {
    margin: -1px;
} */