<app-head></app-head>
<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="balanceDetails">
                    <div class="balanceHeader">
                        <h5>Balance Details</h5>
                        <div class="button">
                            <a href="#" class="withdrawButton">Withdraw</a>
                            <a href="#" class="withdrawButton">Deposit</a>
                            <a href="#" style="margin-right: 10px;"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="balanceBody">
                        <div class="no-wrap">
                            <div class="balance">
                                <div class="row">
                                    <div class="col-md-6">
                                            <span>Account Balance 
                                                <span class="iconEye" >
                                                    <i  class="fa fa-eye" (click)="showHidden()" aria-hidden="true"></i>
                                                </span>
                                            </span>
                                        <input class="password" id="password1" type="password" value="0.0000">
                                        <p>Estimated Value</p>
                                        <input class="password" id="password2" type="password" value="0.06666000">
                                    </div>
                                    <div class="col-md-6">
                                            <p-chart type="line" [data]="data"></p-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
               <p appShowHide>jsjsdfhsjdfhsdjhfjsdfh</p>
               <div>
                <label>Enter password</label>
                <input type="password" value="hgsfdsd" appShowHide>
                <input type="password" >
                <!-- dynamic span is appended here in thesame parent as our input--></div>
                <div>
                    <label>Enter password 2</label>
                    
                    <!-- dynamic span is appended here in thesame parent as our input--></div>
               
            </div>
            
               
               

        </div>
    </div>
</div>