.dashboard {
    padding: 1em 0;
    background: #F6F6F6;
}
.balanceBody {
    padding: 1em;
}
span.iconEye {
    padding: 0 0 0 1em;
}
input#btc {
    padding: 10px 0 10px 0;
    border: none;
    width: 100%;
}
.balanceHeader h5 {
    width: 60%;
    display: inline-block;
    font-size: 16px;
}
a.withdrawButton:hover {
    background: linear-gradient(90deg, #f5da86 0%, #fbda3c 100%);
    text-decoration: none;
}
.balanceHeader {
    border-bottom: 1px solid #ccc;
    padding: 0.7em 0 0.3em 0;
    width: 93%;
    margin: 0 auto;
}
a.withdrawButton {
    margin: 1em;
    /* border: 1px solid #ccc; */
    padding: 3px;
    font-size: 12px;
    color: #212833;
    background: -webkit-gradient(linear, left top, right top, from(#f0b90b), to(#fbda3c));
    background: -webkit-linear-gradient(left, #f0b90b 0%, #fbda3c 100%);
    background: -moz-linear-gradient(left, #f0b90b 0%, #fbda3c 100%);
    background: -o-linear-gradient(left, #f0b90b 0%, #fbda3c 100%);
    background: linear-gradient(90deg, #f0b90b 0%, #fbda3c 100%);
    border: 0;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(240, 185, 10, 0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(240, 185, 10, 0.3);
    box-shadow: 0px 10px 20px 0px rgba(240, 185, 10, 0.3);

}
.button {
    float:right;
    display: block;
}
.balanceDetails {
    background: #FFF;
    margin: 1em;
}
.dashboard .container-fluid {
    padding-left: 4em;
    padding-right: 4em;
}
.balance .col-md-6 {
    padding: 4em 1em;
}