<app-head></app-head>
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-sm-5  text-center">
                    <h1 class="registerAccount">Create a free account</h1>
                    <div class="info-form">
                        <form>
                            <div class="form-group input-group">
                                <span class="has-float-label">
                                <input type="email" class="form-control required" id="email" placeholder="Email" name="email" >
                                <label for="email">Email</label>
                                </span>
                            </div>
                             <div class="form-group input-group">
                                    <span class="has-float-label">
                                        <i class="fa fa-eye" id="showEye" (click)="showpass()" aria-hidden="true"></i> 
                                        <!-- <i class="fa fa-eye-slash" id="hideEye" (click)="hidePass(this)" aria-hidden="true"></i>  -->
                                        <input type="password" class="form-control required" id="password" placeholder="password" name="password">
                                        <label for="newpsw">Password</label>
                                    </span>
                            </div> 

                            <div class="form-group input-group">
                                <span class="has-float-label">
                                    <input type="text" class="form-control required" id="referal" placeholder="referal" name="referal">
                                    <label for="referal">Refereal ID (optional)</label>
                                </span>
                            </div>
                            
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">I am over 18 years old, and I agree to the exchange Terms of Use exchange's Terms of Use</label>
                              </div>
                           
                            <div>
                            <button id="login_input_login" class="bnc-btn bnc-btn-padding-lg bnc-btn-primary bnc-btn-block"><span class="bnc-btn-text">Create Account</span></button>
                                <!-- <div style = "height:15px;"></div> -->
                            </div>
                            
                            <div class="footer">
                                <div style="line-height: 50px;margin-top: 12px;">
                                <a href="#">Forgot your password?</a>
                                <a href="#"><span class="notonExchange">Not on Exchange yet?</span>Register</a>
                            </div>
                        </div>
                    
                          </form>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
